html,
body {
    height: 100%;
    color: #fff;
    font-family: Verdana, sans-serif;
}

h1, h2, h3 {
    text-transform: uppercase;
    font: 36px Verdana, sans-serif;
    text-align: center;
}

.row {
    margin: 0;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -101px;
    padding: 0 0 81px;
    background: url('../images/bg.jpg') repeat left top;
    overflow: hidden;
}

.navbar {
    height: 80px;
    top: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
    font-family: 'FontAwesome';
    font-size: 16px;
    line-height: 22px;
}

.navbar-inverse .navbar-nav > li > a .fa{
    font-size: 20px;
}

.navbar-inverse .navbar-nav > .active > a,  .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > .active > a:hover{
    color: #96f000;
    background-color: initial;
}

.navbar-toggle {
    margin-top: 23px;
}

.navbar li a {
    text-transform: lowercase;
}

.navbar .navbar-brand {
    overflow: hidden;
    padding: 14px 0 0 22px;
    height: 58px;
}

.navbar .navbar-brand img{
    width: 250px;
}

.wrap > .container {
    padding: 100px 0px 20px;
}

.footer {
    height: 101px;
    padding: 28px 0 0 15px;
    background-color: #0d0d0d;
}

.footer .footer-brand__logo {
    background: url('../images/logo.png') 0 -43px;
    height: 45px;
    width: 250px;
}

.footer-copy {
    text-align: center;
    padding: 17px 0 0 0;
    line-height: 18px;
    font-size: 18px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.contacts {
    margin-top: 35px;
    width: 100%;
    min-height: 453px;
    background: url('../images/balls.png') center top no-repeat;
}

.contacts > .contacts-info {
    position: relative;
    padding: 395px 0 50px 0;
    text-align: center;
}

.contacts-info p {
    display: inline-block;
    font-family: 'FontAwesome';
    font-size: 18px;
    font-weight: 700;
}

.contacts-info i {
    color: #96f000;
    font-size: 20px;
}

.content {
    background-color: #ffffff;
    color: #000000;
    font: 18px Verdana, sans-serif;
}

.content > .container {
    padding: 15px 10px 40px;
}

.catalog {
    width: 1076px;
    margin: 0 auto;
}

.catalog > h2, .partners-inner > h2 {
    text-transform: uppercase;
    font: 36px Verdana, sans-serif;
    text-align: center;
    margin-bottom: 35px;
}

.catalog .carousel-inner {
    height: 520px;
}

.catalog .carousel .item a {
    display: inline-block;
    border: 1px solid #ffffff;
    margin-right: 27px;
    margin-top: 27px;
    height: 243px;
    width: 243px;
    position: relative;
    box-sizing: content-box;
}

.catalog .carousel .item a img{
    width: 243px;
    height: 243px;
}

.catalog .carousel .item a div,
.catalog-all__one div {
    width: 243px;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.catalog .carousel .item a:hover div,
.catalog .carousel .item a:active div,
.catalog .carousel .item a:focus div,
.catalog-all__one:hover div,
.catalog-all__one:active div,
.catalog-all__one:focus div{
    background: -moz-linear-gradient(45deg,  rgba(255,255,255,0.4) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg,  rgba(255,255,255,0.4) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg,  rgba(255,255,255,0.4) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.catalog .carousel .item a:nth-child(-n+4) {
    margin-top: 0px;
}

.catalog .carousel .item a:nth-child(4n) {
    margin-right: 0px;
}

.catalog .carousel .carousel-indicators {
    display: none;
}

.catalog .carousel-control {
    background: url('../images/catalogArrows.png') no-repeat center right;
    width: 15px;
    height: 91px;
    margin: auto 0;
}

.catalog .carousel-control.right {
    background-position: -15px 0;
    right: -35px;
}

.catalog .carousel-control.left {
    background-position: 0 0;
    left: -35px;
}

.catalog > a {
    display: block;
    margin: 15px auto;
    color: rgba(255, 255, 255, 0.2);
    text-decoration: underline;
    font-size: 18px;
    width: 130px;
}

.catalog > a:hover {
    color: rgba(255, 255, 255, 1);
}

.partners {
    background: #ffffff;
    padding-bottom: 40px;
}

.partners-inner > h2 {
    color: #282828;
    padding-top: 20px;
}

.partners-inner {
    width: 1076px;
    margin: 0 auto;
}

.partners .carousel-inner {
    height: 245px;
}

.partners .carousel .item img {
    display: inline-block;
    border: 1px solid #ffffff;
    margin-right: 27px;
    margin-top: 27px;
    height: 241px;
    width: 241px;
    position: relative;
    box-sizing: content-box;
}

/*.partners .carousel .item a div {
    width: 100%;
    height: 100%;
    position: absolute;
}*/

.partners .carousel .item a:hover div,
.partners .carousel .item a:active div,
.partners .carousel .item a:focus div{
    background: -moz-linear-gradient(45deg,  rgba(255,255,255,0.4) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg,  rgba(255,255,255,0.4) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg,  rgba(255,255,255,0.4) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.partners .carousel .item img:nth-child(-n+4) {
    margin-top: 0px;
}

.partners .carousel .item img:nth-child(4n) {
    margin-right: 0px;
}

.partners .carousel .carousel-indicators {
    display: none;
}

.partners .carousel-control {
    background: url('../images/partnerArrows.png') no-repeat center right;
    width: 15px;
    height: 91px;
    margin: auto 0;
}

.partners .carousel-control.right {
    background-position: -15px 0;
    right: -35px;
}

.partners .carousel-control.left {
    background-position: 0 0;
    left: -35px;
}

.contactsForm {
    background-color: #1e1e1e;
    padding: 50px 0;
}

.contactsForm h2{
    text-transform: uppercase;
    margin-top: 0px;
    text-align: left;
}

.contactsForm .contacts-info {
    margin-bottom: 50px;
}

.contactsForm .contacts-info i {
    color: #ffffff;
}

.contactsForm label {
    display: none;
}

.contactsForm button {
    box-sizing: content-box;
    padding: 0px;
    text-transform: uppercase;
    display: block;
    width: 100%;
    background-color: #505050;
    font: 18px Verdana, sans-serif;
    line-height: 40px;
    border: 0px !important;
}

.contactsForm button:hover {
    background-color: #75bf05;
}

.contactsForm .form-control, .contactsForm button {
    border-radius: 0px;
}

.contactsForm input, .contactsForm textarea {
    font: 18px Verdana, sans-serif;
    border: 0px !important;
}

.contactsForm input::-webkit-input-placeholder, .contactsForm textarea::-webkit-input-placeholder  {
    color: #646464;
}

.contactsForm input:-moz-placeholder, .contactsForm textarea:-moz-placeholder   { /* Firefox 18- */
    color: #646464;  
}

.contactsForm input::-moz-placeholder, .contactsForm textarea::-moz-placeholder   {  /* Firefox 19+ */
    color: #646464;  
}

.contactsForm input:-ms-input-placeholder, .contactsForm textarea:-ms-input-placeholder   {  
    color: #646464;  
}

.contactsForm .field-contactform-body {
    margin-bottom: 0px;
}

.contactsForm .field-contactform-body .help-block {
    display: none !important;
    margin: 0px;
}

.catalog-all {}

.catalog-all__one {
    display: block;
    margin: 15px auto;
}

.catalog-all__one > img {
    border: 1px solid #ffffff;
    height: 243px;
    width: 243px;
    position: relative;
    box-sizing: content-box;
}

@media (max-width: 767px) {
    .footer {
        height: auto;
        min-height: 101px;
    }
    .footer .footer-brand__logo {
        margin: 0 auto;
    }
    .navbar-inverse .navbar-nav > li > a,
    .navbar-inverse .navbar-nav > li > a:hover,
    .navbar-inverse .navbar-nav > li > a:focus,
    .navbar-inverse .navbar-nav > .active > a, 
    .navbar-inverse .navbar-nav > .active > a:hover, 
    .navbar-inverse .navbar-nav > .active > a:focus{
        background-color: rgba(0, 0, 0, 0.5);
    }
    .navbar-inverse .navbar-nav > li {
        margin-bottom: 1px;
    }
}

@media (min-width: 768px){
    .navbar-nav > li > a {
        padding-top: 30px;
        padding-bottom: 15px;
    }
    .navbar > .container .navbar-brand {
        margin-left: 0px;
    }
}

@media (max-width: 350px) {
    .navbar .navbar-brand {
        padding: 25px 0 0 22px;
        height: 51px;
    }

    .navbar .navbar-brand img{
        width: 150px;
    }

    .footer .footer-brand__logo {
        width: 150px;
        background-size: 150px 52px;
        height: 26px;
        background-position: left bottom;
    }

    .footer-copy {
        font-size: 11px;
    }
}

@media (min-width: 1240px){
    .wrap > .container {
        width: 1240px;
    }
    .contactsForm > .container{
        width: 1200px;
    }
}

@media (min-width: 1200px){
    .wrap > .container {
        width: 100%;
    }
    .contactsForm > .container {
        width: 1200px;
    }

    .navbar-fixed-top > .container {
        padding: 0 40px;
    }

    .footer > .container {
        padding-left: 17px;
    }

    .navbar .navbar-brand {
        padding-left: 0px;
    }
}

@media (min-width: 1200px) and (max-width: 1240px){
    /*.navbar-fixed-top > .container, .footer > .container {
        width: 1080px;
    }*/
}

@media (max-width: 1200px){
    .wrap > .container {
        width: 100%;
    }
}

@media (min-width: 992px){
    .content > .container {
        width: 960px;
    }
}

@media (min-width: 892px){
    .content > .container {
        padding: 15px 50px 40px;
    }
}